.outer-wrapper {
  width: 1200px;
  font-family: "DOS", "Helvetica", sans-serif;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
}
.inner-wrapper {
  display: grid;
  grid-template-rows: 3fr 1fr;
}
.logo {
  border: 1px solid black;
}
