.outer-messages {
 border-bottom: 2px solid black;
 background-color:#00A8A8;
 height: 350px;
 overflow: auto;
align-items: flex-start;
padding:25px;
border: 1px solid black;
 
}
.message-fieldset {
    height: calc(100% - 10px);
    border-color:black
}
.outer-messages .roomName {
    border: 1px solid red;
    align-self: center;
}
