.outer-messages {
  background-color: #00a8a8;
  height: 400px;
  overflow: auto;
  align-items: flex-start;
}
.message-header {
  padding: 10px;
}
.message-fieldset {
  height: calc(100% - 10px);
  border-color: black;
}
.outer-messages .message-header {
  text-align: center;
  background-color: #a8a8a8;
}
.inner-messages {
  margin: 25px;
}
.message {
  margin: 2px;
}
