.outer-messages {
  
  background-color: #00a8a8;
  height: 400px;
  overflow: auto;
  align-items: flex-start;
 
}
.message-fieldset {
  height: calc(100% - 10px);
  border-color: black;
}
.outer-messages .roomName {
  text-align: center;
  background-color: #a8a8a8;
}
.inner-messages {
  margin: 25px;
}
.message {
    margin:2px;
}
