.login-form {
  display: flex;
  flex-direction: column;
  font-family: "DOS";
}
.login-form * {
  margin: 10px;
}

.login-input {
  padding: 5px;
  outline: 0;
  background-color: #000000;
  color: #a8a8a8;
  caret-color: rgb(0, 200, 0);
  border:none
}
.login-input::placeholder {
  opacity: 50%;
}
.login-button {
  padding: 5px;
}
.login-button:disabled {
  background-color: #a8a8a8 !important;
}
