@import '../node_modules/tuicss/dist/tuicss.min.css';

body {
  margin: 0;
  font-family: 'DOS', 'Helvetica'
  
}

#root {
  width:100%;
  display: flex;
align-items: center;
justify-content: center;
background-color: #0000FF;
height: 100vh;
}
